
/* ========top區塊======== */
.abouttop{
    background-image: url(../img/about-bg.png);
    width: 100%;
    height: 500px;
    background-size:cover;
    background-position: center;
    font-size: 0px;
    text-align: center;
    margin-bottom: 10vh;
}
.abouttop h1{
    display:inline-block;
    width: 40%;
    font-size: 4vw;
    color:#141414;
    font-weight: bold;
    text-shadow: 5px 5px 10px #cacaca59;
    padding-top: 200px;
}
.abouttop img{
    display:inline-block;
    width: 10%;
    margin:0 auto;
    padding-top: 100px;
}
.abouttop p{
    font-size: 2vw;
    color:#141414;
    margin: 20px auto 0 auto;
    text-decoration:underline
}

/* ========top區塊 RWD======== */
@media screen and (max-width: 768px) {
    .abouttop{
        height: 200px;
    }
    .abouttop h1{
        padding-top: 80px;
    }
    .abouttop img{
        display:inline-block;
        width: 10%;
        margin:0 auto;
        padding-top: 60px;
    }
}

/* ========第一三區塊======== */
.aboutone{
    display: flex;
    position: relative;
    margin-bottom: calc(15vw + 10vh);
}
.aboutone > img{
    width: 60vw;
    height: 30vw;
    object-fit: cover;
    object-position: 0 22%;
    margin-left:auto;
}
.aboutone div{
    width: 65vw;
    height: 30vw;
    border:2px solid #B69452;
    position: absolute;
    top:15vw;
    left:15vw;
    margin-left: auto;
}
.aboutone h2{
    display: block;
    width: 25vw;
    font-size: 32px;
    text-align: center;
    padding: 6vw 0 1vw 0;
    line-height: 4vw;
}
.aboutone div >p{
    font-size: 16px;
    margin: 2vw 5vw;
}
.aboutone a{
    color: #cacaca;
    background-image: url(../img/b_btn.png);
    background-color: #424242;
    display:block;
    width: 220px;
    height: 60px;
    background-size: cover;
    text-decoration: none;
    font-size: 20px;
    position:absolute;
    top:37.5vw;
    left:70vw;
}
/* ========第一三區塊 RWD======== */
@media screen and (min-width: 1600px) {
    .aboutone a{
        left: 60vw;
    }
}
@media screen and (max-width: 991.98px) {
    .aboutone{
        margin-bottom: calc(30vw + 10vh + 60px);
    }
    .aboutone div{
        width: 80vw;
        height: 45vw;
        left:10vw;
    }
    .aboutone h2{
        width: 29vw;
        font-size: 3.8vw;
        font-size: max(3.8vw, 18px);
        line-height: max(4vw, 20px);
    }
    .aboutone div >p{
        font-size: 3vw;
        font-size: max(3vw, 13px);
    }
    .aboutone a{
        top:60vw;
        left: 14vw;
        font-size: min(4vw, 20px);
    }
}
/* ======第一三區塊a hover &RWD====== */
.aboutone a p{
    background-color: #424242;
    display: inline-block;
    width: 90px;
    padding:0 15px 0 5px;
    margin-left: 15px;
    margin-top:20px;
    text-align: center;
}
.aboutone span {
    position: absolute;
    top:30px;
    left:-10px;
    border-bottom:2px solid #B69452;
}
@media screen and (max-width: 991.98px) {
    .aboutone a p{
        animation: aboutoneauto 3s infinite;
        font-size: min(4vw, 20px);
    }
    @keyframes aboutoneauto {
        0%{
            transform: translateX(0px); 
        }20%{
            transform: translateX(40px); 
        }40%{
            transform: translateX(0px); 
        }100%{
            transform: translateX(0px);
        }
    }
    .aboutone a span{
        animation: aboutautospan 3s infinite;
    } 
}
@keyframes aboutautospan {
    0%{
        width:0px; 
    }20%{
        width:90px; 
    }40%{
        width: 0;
    }100%{
        width:0px; 
    }
}
@media screen and (min-width: 992px) {
    .aboutone a p{
        transition:all .5s;
    }
    .aboutone span {
        width:0px;
        transition:all .5s;
    }
    .aboutone a:hover p{
        transform: translateX(40px); 
    }
    .aboutone a:hover span{
        width:40px; 
    }
}
/* ========第二區塊======== */
.abouttwo{
    display: flex;
    position: relative;
    margin-bottom: calc(15vw + 10vh);
}
.abouttwo > img{
    width: 60vw;
    height: 30vw;
    object-fit: cover;
    object-position: 14% 0;
}
.abouttwo div{
    width: 65vw;
    height: 30vw;
    border:2px solid #B69452;
    position: absolute;
    top:15vw;
    right:15vw;
}
.abouttwo h2{
    display: block;
    width: 25vw;
    font-size: 32px;
    text-align: center;
    margin-left: 40vw;
    padding: 6vw 0 1vw 0;
    line-height: 4vw;
}
.abouttwo div >p{
    font-size: 16px;
    margin: 2vw 5vw;
}
.abouttwo a{
    color: #cacaca;
    background-image: url(../img/d_btn.png);
    background-color: #424242;
    display:block;
    width: 230px;
    height: 60px;
    background-size: cover;
    text-decoration: none;
    font-size: 20px;
    padding-left:100px;
    box-sizing: border-box;
    position: absolute;
    top:37.5vw;
    right:70vw;
}
/* ========第二區塊 RWD======== */
@media screen and (min-width: 1600px) {
    .abouttwo a{
        right: 60vw;
    }
}
@media screen and (max-width: 991.98px) {
    .abouttwo{
        margin-bottom: calc(30vw + 10vh + 60px);
    }
    .abouttwo div{
        width: 80vw;
        height: 45vw;
        right:10vw;
    }
    .abouttwo h2{
        width: 29vw;
        margin-left: 51vw;
        font-size: 3.8vw;
        font-size: max(3.8vw, 18px);
        line-height: max(4vw, 20px);
    }
    .abouttwo div >p{
        font-size: 2vw;
        font-size: max(3vw, 13px);
    }
    .abouttwo a{
        top:60vw;
        right:14vw;
    }
}
/* ======第二區塊a hover&RWD====== */
.abouttwo a p{
    background-color: #424242;
    display: inline-block;
    width: 90px;
    padding:0 5px 0 15px;
    margin-top:20px;
    text-align: center;
}
.abouttwo span {
    position: absolute;
    top:30px;
    right:-10px;
    border-bottom:2px solid #B69452;
}
@media screen and (max-width: 991.98px) {
    .abouttwo a p{
        animation: abouttwoauto 3s infinite;
    }
    @keyframes abouttwoauto {
        0%{
            transform: translateX(0px); 
        }20%{
            transform: translateX(-40px); 
        }40%{
            transform: translateX(0px); 
        }100%{
            transform: translateX(0px);
        }
    }
    .abouttwo a span{
        animation: aboutautospan 3s infinite;
    } 
}
@media screen and (min-width: 992px) {
    .abouttwo a p{
        transition:all .5s;
    }
    .abouttwo span {
        width: 0px;
        transition:all .5s;
    }
    .abouttwo a:hover p{
        transform: translateX(-40px); 
    }
    .abouttwo a:hover span{
        width:40px; 
    }
}
/* =======第三區塊pic======= */
.aboutone > img.aboutthree{
    object-position: 100% 0;
}