@import url("reset.css");
html{
    font-family: 'Roboto','Noto Sans TC', sans-serif;
}
body{
    color:#cacaca;
    background-color:#424242;
}
/* ==========頂端nav======== */
.head{
    background-color: transparent;
    /* text-shadow: 1px 1px #141414; */
    background: linear-gradient(#141414 10px, transparent);
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;;
    box-sizing: border-box;
    z-index: 100;
}
.head >a:first-child{
    height: 50px;
    margin-left: 10vw;
}
.head img{
    height: 30px;
    margin-top:10px;
}
.nav_main{
    margin-left:auto;
}
.head ul{
    display:flex;
}
.head ul li{
    flex-shrink: 0;
    flex-grow:1;
}
.head ul a{
    color: #cacaca;
    text-decoration: none;
    font-size: 12px;;
    font-weight: bold;
    text-align: center;
    display: block;
    line-height: 50px;
    margin-right: 2vw;
    transition:.5s;
    position: relative; 
}
.head > a:last-of-type{
    color:#cacaca;
    font-size: 25px;
    line-height: 50px;
    transition:.5s;
    margin-right: 10vw;
}
/* ========nav選單hover======== */
.head ul li a:before{
    content: "";
    position: absolute;
    top:35px;
    left:0;
    width:0;
    border-bottom:2px solid #B69452;
    transition:all .5s; 
}
.head ul a:hover{
    color: #B69452;
}
.head ul li:hover a:before{
    width:100%;
}
.head > a:last-of-type:hover{
    color:#B69452;
}
/* ========滾動nav透明度======== */
.nav-colored{
    background-color: #141414;
}
/* ========nav hamburger======== */
.hamburger{
    padding: 10px;
    cursor: pointer;
    display: none;
    transition-property: background-color, filter;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    background-color: transparent;
    border: 0;
}
.hamburger:hover .hamburger-inner,
.hamburger:hover .hamburger-inner::before,
.hamburger:hover .hamburger-inner::after{
    background-color: #B69452;
}
.hamburger-box{
    width: 40px;
    height: 24px;
    display: block;
    position: relative; 
}
.hamburger-inner{
    display: block;
    top: 50%;
    margin-top: -2px; 
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #cacaca;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    background-color: #cacaca;
}
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; 
}
.hamburger-inner::before {
    top: -10px; 
}
.hamburger-inner::after {
    bottom: -10px; 
}
.hamburger-act .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
.hamburger-act .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; 
}
.hamburger-act .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
  
.hamburger-act.hamactive .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
}
.hamburger-act.hamactive .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; 
}
.hamburger-act.hamactive .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); 
}
/* ========nav RWD======== */
@media screen and (min-width: 768px){
    div.nav_main{
        display: block !important;
    }
}
@media screen and (max-width: 767px){
    div.nav_main{
        display: none;
        width: 100vw;
        order:4 
    }
    div.nav_main ul{
        display: block;
        background-color: #141414;
        width: 100vw;
    }
    button.hamburger{
        display: block;
    }
    .head > a:last-of-type{
        margin-left: auto;
        margin-right: 20px;
    }
    .head li{
        font-size: 16px;
        margin: 0 10vw;
        padding-bottom: 10px;
    }
    .head ul a{
        font-size: 16px;
        text-align: left;
        border-bottom: 1px solid #B69452;
    }
    .head ul li:hover a:before{
        width:0;
    }
}

/* ========user&faqtop======== */
.userfaqtop{
    background-image: url(../img/usersentertop.png);
    width: 100%;
    height: 200px;
    background-size: 100%;
}
/* ========進一步選購======== */
.gotoshop{
    margin:15vw auto 0;   
    width: 80vw;
}
.gotoshop h2{
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: bold;
}
.toshopmaindiv{
    /* 沒owl時輪播的設定 */
    /* overflow: hidden; */
    /* white-space: nowrap; */
}
.gotoshopitem{
    /* 沒owl時輪播的設定 */
    /* width:calc((100% - 12%)/3); */
    /* margin: 2%; */
    /* display:inline-block; */
    position: relative; 
}
.gotoshopitem img{
    width: 100%;
}
.gotoshopitem a{
    color: #141414;
    text-decoration: none;
}
.gotoshopitem div{
    background-color: rgba(255, 255, 255, 0.7);
    width: 90%;
    height: 80%;
    padding:0 5%;
    padding-top: 10%;
    box-sizing: border-box;
    position: absolute;
    top:0;
    bottom: 0;
    right:0;
    margin:auto ;
    display: none;
    font-weight: bold;
}
.gotoshopitem h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom:10%;
}
.gotoshopitem p{
    font-size: 12px;
    line-height: 1.2;
    display: block;
    padding-left: 10%;
}
.gotoshopitem p:last-child{
    margin-top: 30%;
    text-align: right;
    font-weight: bold;
}
/* ========進一步選購圖片的hover&RWD======== */
@media screen and (max-width: 991.98px){
    .gotoshopitem div{
        padding-top: 5%;
        display:block;
        bottom:-35vw;
        width: 100%;
    }
    .gotoshopitem h3{
        font-size: 3vw;
        margin-bottom:0;
    }
    .gotoshopitem p{
        font-size: 1.5vw;
        padding-left: 0;
    }
    .gotoshopitem p:last-child{
        margin-top: 5%;
    }
}
@media screen and (min-width: 992px){    
    .gotoshopitem:hover div{
        display:block;
        animation:shophover 1s forwards;
    }
    @keyframes shophover{
        0%{
            transform: translateX(30px);
            opacity: 0;
        }100%{
            transform: translateX(0px);
            opacity: 1;
        }
    } 
}
/* ========選購箭頭======== */
/* .btntoright, .btntoleft{
    display: inline-block;
    width: 20%;
    border: 0;
    outline: 0; 
    background-color:transparent;
    vertical-align: top;
} 
.btntoright img, .btntoleft img{
    width: 100%;
}  */

.owl-nav button.owl-prev span{
    background-image: url('../img/d_arr.svg');
    background-size: cover;
    display: block;
    width: 15vw;
    height: 1.5vw;
    font-size: 0;
    margin:0 4vw;
}
.owl-nav button.owl-next span{
    background-image: url('../img/b_arr.svg');
    background-size: cover;
    display: block;
    width: 15vw;
    height: 1.5vw;
    font-size: 0;
    margin:0 4vw;
}

/* ========箭頭抖動======== */
.toshopmaindiv .owl-theme .owl-nav .owl-prev:hover, .toshopmaindiv .owl-theme .owl-nav .owl-next:hover{
    background-color: transparent;
}
.owl-nav button.owl-prev:hover span{
    animation: arrright 1s linear infinite;
}
@keyframes arrright{
    0%{
        transform: translateX(0px);
    }50%{
        transform: translateX(10px);
    }100%{
        transform: translateX(0px);
    }
}
.owl-nav button.owl-next:hover span{
    animation: arrleft 1s linear infinite;
}
@keyframes arrleft{
    0%{
        transform: translateX(0px);
    }50%{
        transform: translateX(-10px);
    }100%{
        transform: translateX(0px);
    }
}

/* ========底端footer======== */
.bottom{
    margin-top:60px;
    background-color: #141414;
    padding-top: 20px;
}
.bottom h2{
    font-size: 32px;
    text-align: center;
    margin:30px auto;
}
.bottom ul{
    display:flex;
    padding:0 10vw
}
.bottom li{
    width: 30vw;
    flex-grow: 1;
    margin-bottom:20px;
}
.bottom li:nth-child(2){
    border-left:1px solid #cacaca;
    border-right:1px solid #cacaca;
}
.bottom div{
    width: 90%;
    margin:0 auto;
}
.bottom li p{
    margin:0 auto;
    font-size: 16px;
    line-height: 1.6;
}
.bottom li p:nth-child(-n+2){
    color:#B69452;
    text-align: center;
    font-size: 18px;
    margin-bottom:20px;
    font-weight: bold;      
}
.gototopbtn{
    text-decoration: none;
    display:block;
    width: 100px;
    margin:0 auto;
}
.gototopbtn img:first-child{
    width: 80px;
    display: block;
    margin:0 auto;
    opacity:.1 ;
    transition: .5s;
}
.gototopbtn:hover img:first-child{
    opacity: 1;
}
@media screen and (max-width: 767.98px){
    .gototopbtn img:first-child{
        opacity:1 ;
    }
}
.float{
    animation: topbtn 1s linear infinite;
}
@keyframes topbtn{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}
.gototopbtn img+img{
    width: 20px;
    display: block;
    margin:10px auto;
}
.gototopbtn p{
    text-align:center;
    color: #B69452;
    margin-bottom:10px;
    font-weight: bold;
}
.tibame{
    font-size: 12px;
    text-align: center;
    margin-top: 30px;
}
/* ========底端footer RWD======== */
@media screen and (max-width: 992px)  {
    .bottom h2{
        font-size: 24px;
    }
    .bottom li p{
        font-size: 14px;
        line-height: 1.6;
    }
    .bottom li p:nth-child(-n+2){
        font-size: 16px;
    }
}

/* ========登入視窗======== */
.loginopen{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #14141496;
    z-index: 200;
    animation:loginfade .5s;
}
@keyframes loginfade {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.login{
    width: 500px;
    height: 300px;
    background-color: #cacaca;
    border-radius:10px;
    position: relative;
    position: fixed;
    top: 140px;
    left: 0;
    right: 0;
    margin: auto;
}
.logintitle{
    display: flex;
    width: 60%;
    margin: 0 auto;
    padding: 30px;
    border-bottom:2px solid #B69452;
}
.logintitle img{
    width: 40px;
    display: block;
    margin-left: 80px;
}
.logintitle h3{
    color: #141414;
    font-size: 24px;
    font-weight: bold;
}
.logintitle button{
    display: block;
    width: 50px;
    height:50px;
    background-color: #B69452;
    position: absolute;
    top: 5px;
    right: 5px;
    border:2px solid #cacaca;
    border-radius:10px;
}
.logintitle button:before{
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background-color: #141414;
    transform: rotate(45deg);
    position: absolute;
    top: 20px;
    left: 2.5px;
    border-radius: 5px;
}
.logintitle button::after{
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background-color: #141414;
    transform: rotate(-45deg);
    position: absolute;
    top: 20px;
    left: 2.5px;
    border-radius: 5px;
}
.logintitle button:hover{
    background-color: #141414b6;
}
.logintitle button:hover::before{
    background-color: #cacaca;
}
.logintitle button:hover::after{
    background-color: #cacaca;
}
.loginbox{
    width: 80%;
    margin: 0 auto;
}
.loginbox label{
    color: #141414;
    padding-left: 60px;
}
.loginbox input[type="text"]{
    margin-top: 30px;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    outline-style: none ;
    font-size: 14px;
}
.login a:last-of-type{
    text-decoration: none;
    color: #B69452;
    border-bottom: 1px dashed #B69452;
}
.loginbtn{
    display: block;
    width: 60%;
    margin: 0 auto;
}
.loginbtn input{
    display: inline-block;
    margin: 20px;
    color: #cacaca;
    background-color: #141414;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
}
.loginbtn input:hover{
    background-color: #B69452;
}