
/* ========top======== */
.buyinglisttop{
    display: block;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 10px;
}
.buyinglisttop img{
    width: 100px;
    display: block;
    margin: 0 auto;
    padding-top: 40px;
}
.buyinglisttop h3{
    text-align: center;
    padding-top: 30px;
    font-size: 36px;
    color: #B69452;
    font-weight: bold;
}
/* ========主區塊======== */
.buyinglistmain{
    display: block;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 90px;
    border-top:2px solid #B69452;
    border-bottom:2px solid #B69452;
    position: relative;
}
/* ========清單內容======== */
.list{
    width: 100%;
    max-width:1200px;
    margin: 20px auto 0;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 40px;
}
.list div{
    display: inline-block;
    vertical-align : top; 
}
.list div:first-child{
    width: 30%;
}
.list div:first-child img{
    width: 100%;
}
.list div:first-child button{
    font-size: 18px;
    display: block;
    margin: 5px auto;
    background-color: transparent;
    color: #cacaca;
    border:0;
    border-bottom:1px solid #cacaca;
    transition: .5s;
}
.list div:first-child button:hover{
    color: #B69452;
    border-bottom:1px solid #B69452
}
.list div:nth-of-type(2){
    width: 65%;
    margin-left: 3%;
    margin-top: 20px;
    padding-bottom: 30px;
}
.list div:nth-of-type(2) p{
    font-size: 20px;
    line-height: 2;
}
.list h3{
    font-size: 20px;
    text-align: right;
    padding-top: 20px;
    border-top: 1px solid #cacaca;
}
/* ========清單內容 RWD======== */
@media screen and (max-width:991.98px){
    .list div:first-child{
        display:block;
        width: 100%;
        margin: 0 auto;
    }
    .list div:nth-of-type(2){
        width: 100%;
        margin-left: 3%;
        margin-top: 20px;
        padding-bottom: 30px;
    }
}
/* ========總計========== */
.listtotal{
    display: flex;
    width: 30%;
    min-width: 200px;
    vertical-align :text-top;
    justify-content: space-between;
    padding:20px 40px;  
    background-color: #cacaca;
    color: #141414;  
    border-radius: 20px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    bottom: -5%;
    transform: translate(-50%);
}
.listtotal h3{
    font-size: 20px;
}
.listtotal p{
    font-size: 32px;
}
/* ========總計 RWD========== */
@media screen and (max-width:991.98px){
    .listtotal{
        bottom: -2%;
    }
}
/* ========底下按鈕======== */
.buyinglistbtn{
    display: flex;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
}
.buyinglistbtn a{
    color: #cacaca;
    background-color: #141414;
    display:block;
    width: 40%;
    max-width: 250px;
    height: 30px;
    line-height: 30px;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    border-radius: 555px;
    margin-top: 100px;
    transition:all .5s;
    font-weight: bold;
}
.buyinglistbtn a:hover{
    background-color: #B69452;
    color: #141414;
}

@media screen and (min-width:1600px){
    .buyinglistbtn a{
        margin: 20px 5vw 0;
    }
}
@media screen and (max-width:575.98px){
    .buyinglistbtn{
        display: block;
        padding-top: 50px;
    }
    .buyinglistbtn a{
        min-width: 160px;
        margin: 30px auto 0;
    }
}
