
/* ========常見問題 */
.faqmod{
    display: block;
    width: 80vw;
    margin: 30px auto 0;
    border-bottom: 2px solid #B69452;
    margin-bottom: 60px;
}
h3{
    /* font-size: 32px;
    font-size: max(min(4.2vw, 32px), 20px); */
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}
.ansmod label{
    display:inline-block;
    width: calc(100% - 40px);
    padding: 0 30px;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}
.ansmod label:hover{
    color: #B69452;
}
.anscontent{
    box-sizing: border-box;
    line-height: 1.5;
    height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
/* =======手風琴切換======== */
input[type="checkbox"]:checked + .anscontent{
    opacity: 1;
    height: 150px;
}
input[type="checkbox"]{
    display: none;
}
/* =======手風琴切換+-切換======== */
.ansbox{
    border-top: 2px solid #B69452;
    padding: 10px 0;
}
.ansbox > span{
    display: inline-block;
    width: 30px;
    height: 5px;
    margin: auto 0;
    background-color: #B69452;
    border-radius: 555px;
    transform: translateY(-50%);
    position: relative;
}
.ansbox span span{
    display: block;
    width: 5px;
    height: 30px;
    background-color: #B69452;
    border-radius: 555px;
    position: absolute;
    top:-12.5px;
    left:12.5px;
    transition: .5s;
}
/* ========提問區======== */
.inputbox{
    width: 70%;
    margin: 0 auto;
}
.inputbox label{
    font-size: 18px;
    display:inline-block;
    margin-top: 30px;
    padding-left: 10px;
}
.inputbox div input{
    border-radius: 10px;
    border:0;
    padding: 5px 0px;
    padding-left: 10px;
    background-color: #c7c7bfab;
    font-size: 18px;
    font-weight: bold;
    color: #141414;
    outline-style: none ;
}
.inputbox div input:focus{
    box-shadow: 8px 8px #141414;
}
.inputbox div:nth-of-type(-n+2){
    display: inline-block;
    width: 48%;
}
.inputbox div:nth-of-type(-n+2) input{
    width: 90%;
}
.inputbox div:nth-of-type(3) input{
    width: 92%;
}
.inputbox div textarea{
    border-radius: 10px;
    border:0;
    width: 92%;
    padding: 5px 0px;
    padding-left: 10px;
    background-color: #c7c7bfab;
    font-size: 18px;
    font-weight: bold;
    color: #141414;
    outline-style: none;
    overflow: hidden;
    resize: none;
}
.inputbox div textarea:focus{
    box-shadow: 8px 8px #141414;
}
.inputbox > input{
    display: block;
    margin: 30px auto;
    color: #cacaca;
    background-color: #141414;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    border: 0;
    font-size: 20px;
    font-weight: bold;
}
.inputbox > input:hover{
    background-color: #B69452;
}