
/* ========top區塊======== */
.indextop{
    background-image: url(../img/index-bg-full.jpg);
    width: 100%;
    height: 500px;
    opacity:.6;
    background-size: 100% auto;
    background-position: center;
    font-size: 0px;
    text-align: center;
    margin-bottom: 10vh;
}
.indextop h1{
    display:inline-block;
    padding-top: 200px;
    width: 50%;
    color:#B69452;
    font-weight: bold;
    text-shadow: 1px 1px #141414;
}
/* ========top區塊 RWD======== */
@media screen and (max-width: 768px)  {
    .indextop{
        height: 200px;
    }
    .indextop h1{
        padding-top: 120px;
    }
}
/* ========第一區塊======== */
.indexone{
    display:flex;
    padding-bottom: 10vh;
}
.indexone img{
    display: block;
    width: 50vw;
    margin-right: 5vw;
    object-fit: cover;
    box-shadow: 10px 10px #B69452;
}
.indexone div{
    padding-right:10vw;
}
.indexone div h2{
    /* font-size: 32px;
    font-size:5vw;
    font-size: min(max(5vw, 20px), 32px); */
    margin-top:40px;
    font-weight: bold;
}
.indexone div h4{
    /* font-size: 16px;
    font-size: 3vw;
    font-size: min(max(3vw, 14px), 16px);
    line-height: 1.2; */
    margin-top:5em;
    margin-bottom:10em;
    padding:0 2vw;
}
.indexone a{
    color: #cacaca;
    background-image: url(../img/b_btn.png);
    display:block;
    width: 220px;
    height: 60px;
    background-size: cover;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
/* ======第一區塊a hover&RWD====== */
.indexone a p{
    background-color: #141414;
    display: inline-block;
    width: 90px;
    padding:0 15px 0 10px;
    margin-left: 15px;
    margin-top:20px;
    text-align: center;
}
.indexone span {
    position: absolute;
    top:30px;
    left:-10px;
    border-bottom:2px solid #B69452;
}

@media screen and (max-width: 991.98px) {
    .indexone a p{
        animation: indexoneauto 3s infinite;
    }
    @keyframes indexoneauto {
        0%{
            transform: translateX(0px); 
        }20%{
            transform: translateX(0px);
        }40%{
            transform: translateX(40px); 
        }60%{
            transform: translateX(0px); 
        }100%{
            transform: translateX(0px);
        } 
    }
    .indexone a span{
        animation: indexautospan 3s infinite;
        left:calc(220px - 75vw);
    }
    .indexone a span::before{
        content: "";
        display: block;
        height: 0;
        border-right: 2px solid #B69452;
        position: absolute;
        left:0;
        top:calc(30px - 60px - 5vw);
        animation: indexautospanbefore 3s infinite;
    }
}
@keyframes indexautospan {
        0%{
            width:0;
        }10%{
            width:0; 
        }20%{
            width:calc(75vw - 220px); 
        }30%{
            width:calc(75vw - 180px); 
        }60%{
            width:0;
        }100%{
            width:0; 
        }
}
@keyframes indexautospanbefore{
    0%{
        height:0;
    }10%{
        height:calc(30px + 5vw); 
    }60%{
        height:calc(30px + 5vw); 
    }100%{ 
        height:0;
    } 
}
@media screen and (min-width: 992px) {
    .indexone a p{
        transition:all .5s;
    }
    .indexone span {
        width:0px;
        transition:all .5s;
    }
    .indexone a:hover p{
        transform: translateX(40px); 
    }
    .indexone a:hover span{
        width:40px; 
    }
}
/* ========第一區塊 靜態RWD======== */
@media screen and (max-width: 991.98px) {
    .indexone{
        display:block;
    }
    .indexone img{
        width: 80vw;
        margin: 0 auto;
    }
    .indexone div{
        padding: 0 10vw;
        margin-top: 5vw;
    }
    .indexone div h2{
        text-align: center;
    }
    .indexone div h4{
        margin:5vw;
        border-left: 2px solid #B69452;
    }
    .indexone a{
        margin-left: auto;
    }
}

/* ========第二區塊======== */
.indextwo{
    display:flex;
    justify-content: flex-end;
    margin-bottom: 10vh;
}
.indextwo img{
    display: block;
    width: 50vw;
    order:2;
    box-shadow: -10px 10px #B69452;
}
.indextwo div{
    padding-left:10vw;
    padding-right: 5vw;
    order:1;
}
.indextwo h2{
    /* font-size: 32px;
    font-size:5vw;
    font-size: min(max(5vw, 20px), 32px); */
    margin-top:40px;
    font-weight: bold;
}
.indextwo div h4{
    /* font-size: 16px;
    font-size: 3vw;
    font-size: min(max(3vw, 14px), 16px);
    line-height: 1.2; */
    margin-top:5em;
    margin-bottom:10em;
    padding:0 2vw;  
}
.indextwo a{
    color: #cacaca;
    background-image: url(../img/d_btn.png);
    display:block;
    width: 230px;
    height: 60px;
    background-size: cover;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding-left:100px;
    box-sizing: border-box;
    position: relative;
}
/* ======第二區塊a hover &RWD====== */
.indextwo a p{
    background-color: #141414;
    display: inline-block;
    width: 90px;
    padding:0 5px 0 15px;
    margin-top:20px;
    text-align: center;
}
.indextwo span {
    position: absolute;
    top:30px;
    right:-10px;
    border-bottom:2px solid #B69452;
}

@media screen and (max-width: 991.98px) {   
    .indextwo a p{
        animation: indextwoauto 3s infinite;
    }
    @keyframes indextwoauto {
        0%{
            transform: translateX(0); 
        }20%{
            transform: translateX(0); 
        }40%{
            transform: translateX(-40px);
        }60%{
            transform: translateX(0);
        }100%{
            transform: translateX(0); 
        }
    }
    .indextwo span {
        animation: indexautospan 3s infinite;
        right:calc(230px - 75vw);
    }
    .indextwo a span::before{
        content:"";
        display: block;
        height:0;
        border-left: 2px solid #B69452;
        position:absolute;
        right:0;
        top:calc(30px - 60px - 5vw);
        animation: indexautospanbefore 3s infinite;
    }
}
@media screen and (min-width: 992px) {
    .indextwo a p{
        transition:all .5s;
    }
    .indextwo span {
        width: 0px;
        transition:all .5s;
    }
    .indextwo a:hover p{
        transform: translateX(-40px); 
    }
    .indextwo a:hover span{
        width:40px;
    }
}
/* ========第二區塊 靜態RWD======== */
@media screen and (max-width: 991.98px)  {
    .indextwo{
        display:block;
    }
    .indextwo img{
        width: 80vw;
        margin:0 auto;
    }
    .indextwo div{
        padding: 0 10vw;
        margin-top: 5vw;
    }
    .indextwo div h2{
        text-align: center;
    }
    .indextwo div h4{
        margin:5vw;
        border-right: 2px solid #B69452;
    }
}