
/* ========商品頁籤======== */
.productname{
    padding: 0 12vw;
    padding-top: 60px;
    text-align: right;
    position: sticky;
    top: 0;
    z-index: 90;
    height: 0;
}
.productname h1{
    font-size:40px;
    text-align: center;
    text-shadow: 5px 5px 10px #141414;
}
.productname a{
    text-decoration: none;
    color: #cacaca;
    display: inline-block;
    margin:10px 5% 10vh 0;
    font-weight: bold;
    text-shadow: 2px 2px 5px #141414;
    transition:all .5s;
    position: relative; 
}
@media screen and (max-width:991.98px){
    .productname{
        text-align:center;
    }
    .productname h1{
        display: inline-block;
        width: 50%;
        margin-right: 10%;
        text-align: right;
        font-size:max(4vw, 24px);
    }
    .productname a{
        margin:0;
        width: 18%;
        font-size:max(1.5vw, 12px);
    }
}
@media screen and (max-width:575.98px){
    .productname h1{
        width: 100%;
        margin-right:0;
        text-align: center;
        font-size:max(4vw, 24px);
    }
    .productname a{
        width: 25%;
        margin-top: 10px;
        text-align: right;
    }
}
/* =======頁籤hover======== */
.productname a:hover{
    color:#B69452;
}
.productname a::before{
    content: "";
    position: absolute;
    top:20px;
    left:0px;
    width:0px;
    border-bottom:2px solid #B69452;
    transition:all .5s; 
}
.productname a:hover::before{
    animation:btnslide .8s linear infinite;
}
@keyframes btnslide {
    0%{width: 0;}
    10%{
        width: 20%;
        transform: translateX(0);
    }
    90%{width: 20%;}
    100%{
        width: 0;
        transform: translateX(60px);
    }
}
/* ========第一區塊======== */
.productone{
    position: relative;
    margin-bottom: 30%;
}
.productone img:first-child{
    width: 50%;
    opacity: .6;
}
.productone img:nth-of-type(2){
    width: 60%;
    position: absolute;
    left: 40%;
    top:70%;
    /* ========閃電動畫 ========*/
    animation: fadein 1s infinite ;
}
@keyframes fadein {
    0%{opacity: 0;}
    20%{opacity: 1;}
    40%{opacity: 0;} 
    80%{opacity: 0;}   
    100%{opacity: 1;}
}
.productone h3{
    color: #141414;
    text-shadow: 2px 2px 15px #cacaca;
    font-weight: bold;
    font-size: 2vw;
    font-size: min(2vw, 20px);
    margin-right: 10vw;
}
.productone h3:nth-of-type(1){
    position: absolute;
    top: 50%;
    left: 50%;
}
.productone h3:nth-of-type(2){
    position: absolute;
    top: 70%;
    left: 70%;
    font-size: 1.8vw;
    font-size: min(1.8vw, 16px);
}
.productone h3:nth-of-type(3){
    margin-left: 8vw;
    line-height: 1.5;
}
.productone img:nth-of-type(3){
    width: 40%;
    position: absolute;
    top: 40%;
    left: 10%;
    transform: rotate(-120deg);
    opacity: .6;
}

/* ========第二區塊======== */
.producttwo {
    display: flex;
    position: relative;
}
.producttwo img{
    width: 60vw;
    margin-left: auto;
}
.producttwo div{
    background-color: rgba(255, 255, 255, 0.5);
    color: #141414;
    font-size: 16px;
    padding: 2vw;
    box-sizing: border-box;
    width:60vw;
    position: absolute;
    top: 45%;
    left: 0;
    right:0;
    margin: auto;
}
.producttwo h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1vw;
}
/* ========第二區塊RWD======== */
@media screen and (min-width: 1600px) {
    .producttwo div{
        width:600px;
        top:20%;
        left: 6vw;
    }
}
@media screen and (max-width: 991.98px) {
    .producttwo div{
        width:80vw;
    }
    .producttwo h3{
        font-size: 24px;
        font-size: 3.2vw;
        font-size: max(3.2vw, 16px);
    }
    .producttwo p{
        font-size: 2.5vw;
        font-size: max(2.5vw, 13px);
    } 
}
/* ========第三區塊======== */
.productthree {
    position: relative;
    margin-top: 5vw;
}
.productthree div:first-child{
    width: 44vw;
    height: 36vw;
    border-radius: 50%;
    box-shadow: 0 0 30px 60px #424242 inset;
    position: absolute;
    top:0;
    left: 6vw;    
    z-index: 1;
}
.productthree >img:nth-of-type(1){
    width: 40vw;
    margin-left: 8vw; 
}
.productthree >img:nth-of-type(2){
    width: 15vw;
    position: absolute;  
    top:30%;
    left:20vw;
    z-index: 4;
}
.wand1{
    transform: rotate(-123.28deg);
    position: absolute;
    top:-45%;
    width: 3vw;
    z-index:5 ;
}
.productthree >img:last-of-type{
    transform: rotate(-60deg);
    position: absolute;
    top:-5%;
    width: 25vw;
    z-index:3 ;
}

.productthree p{
    color: #141414;
    text-shadow: 2px 2px 15px #cacaca;
    font-weight: bold;
    font-size: 1.8vw;
    font-size: min(1.8vw, 16px);
    display: block;
    width: 25vw;
    position: absolute;
    top: 30%;
    left: 60vw;
}
/* ========第四區塊(繼承第二塊)======== */
.productfour img{
    margin-top:8vw;
}
.productfour img{
    margin-left: 0;
}
.productfour div{
    top:30%;
}
/* ========第四區塊(繼承第二塊) RWD======== */
@media screen and (min-width: 1600px) {
    .productfour div{
        top:60%;
        left: 48vw;
    }
}
/* ========第五區塊======== */
.productfive img:first-child{
    width: 100vw;
    margin-top: 5vw;
}
.productfive p{
    font-size: 20px;
    font-size: min(max(4vw, 16px), 20px);
    text-align: center;
    margin: 50px auto 20px;
}
.float{
    display: block;
    margin:0 auto;
}
