
/* ========top區塊======== */
.storetop{
    background-image: url(../img/indexone.png);
    width: 100%;
    height: 500px;
    background-size:cover;
    text-align: center;
}
.storetop h1{
    display:inline-block;
    width: 40%;
    font-size: 4vw;
    font-size: max(4vw, 20px);
    color:#141414;
    font-weight: bold;
    text-shadow: 2px 2px #B69452;
    margin-top: 300px;
    opacity: .8;
}
/* ========top區塊 RWD======== */
@media screen and (max-width: 768px)  {
    .storetop{
        height: 200px;
    }
    .storetop h1{
        margin-top: 100px; 
    }
}

/* ========分類區塊======== */
.storecategory{
    position: sticky;
    top:40px;
    z-index: 90;
}
.storecategory >ul{
    width: 80%;
    height: 100px;
    margin: 0 auto;
    white-space: nowrap;
    font-size: 0;
}
.storecategory >ul>li{
    cursor: pointer; 
    display: inline-block;
    width: 90px;
    height: 30px;
    margin:15px;
    background-color: #cacaca;
    border-radius: 555px;
    font-weight: bold;
    color: #141414;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    position: relative;
    transition: .5s;
}
/* ========第二層選單======== */
.categorysecond{
    position: absolute;
    right: 0;
    white-space: nowrap;
    display: none;
    font-size: 0;
}
.categorysecond li{
    cursor: pointer; 
    width: 90px;
    height: 25px;
    display: inline-block;
    transition: .5s;
    color: #141414;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    margin:15px;
    background-color: #cacaca;
    border-radius: 555px;
    font-weight: bold;
}
/* ========分類選定樣式 ======== */
.storecategory ul li[class="on"]{
    background-color: #141414;
    color: #cacaca;;
    box-shadow: 2px 2px  #cacaca;
}
.storecategory ul li[class="on"] ul{
    display:block;
}
/* ========分類的hover======== */
.storecategory li:hover{
    background-color: #B69452;
}
.storecategory li:hover ul{
    display: block;
    z-index: 91;
    animation:shophover .5s forwards;
}
/* ========分類的RWD======== */
@media screen and (max-width: 992px){
    .storecategory>ul{
        overflow-x: auto;
        overflow-y:hidden ;
        touch-action: pan-x;
    }
    .storecategory>ul::-webkit-scrollbar {
        height: 5px;
      }
    .storecategory>ul::-webkit-scrollbar-track {
        
    }
    .storecategory>ul::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px; 
      }
    .categorysecond{
        position: absolute;
        right: 0;
        white-space: nowrap;
        display: none;
    }
}
/*========商品列表======== */
.storeline ul{
    width: 80%;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: space-between;
}
@media screen and (min-width: 1800px){
    .storeline ul{
        grid-template-columns: repeat(5, 20%);
    }
}
@media screen and (max-width: 992px) and (min-width: 768px ){
    .storeline ul{
        grid-template-columns: repeat(3, 33%);
    }
}
@media screen and (max-width: 767.98px) and (min-width: 576px ){
    .storeline ul{
        grid-template-columns: repeat(2, 50%);
    }
}
@media screen and (max-width: 575.98px) {
    .storeline ul{
        width: 70%;
        grid-template-columns: repeat(1, 100%);
    }
}
.storeline li{
    margin:10px;
    position: relative;
}
.storeline img{
    width: 100%;
}
.storeline a{
    text-decoration: none;
    color: #cacaca;
}
.storeline li a > p{
    font-size:20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
/* ========商品列表hover &RWD======== */
.storeline div{
    background-color: rgba(255, 255, 255, 0.5);
    width: 90%;
    height: 80%;
    position: absolute;
    top: 2%;
    right: 0;
    padding:60px 20px 0;
    box-sizing: border-box;
    display: none;
}
.storeline div p{
    color: #141414;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
}
@media screen and (min-width: 992px){
    .storeline li:hover div{
        display:block;
        animation:shophover 1s forwards ;
    }
    .storeline a:hover >p{
        color: #B69452;
    }
}
/* ========商品列表區域切換原始狀態======== */
.storeline{
    display: none;
}
.storeline:first-child{
    display: grid;
}